.select-custom{
  padding: 15px 10px;
  border:1px solid $black;
  border-radius: 5px;
  min-width: 154px;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background: url("../assets/pictos/arrow-down.svg");
  background-repeat: no-repeat;
  background-position:90%;
  &:focus{
    outline: none;
  }
  text-transform: capitalize;
}
